<div class="p-4 p-md-5 mb-4 text-white rounded" style="background-color: #025157;">
    <div class="row">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Hospitales Covid del puerto de Acapulco</h1>
        <p class="lead my-3">Conoce un poco más sobre que es el covid, sobre los hospitales de acapulco, la disponibilidad de camas y el tiempo y rutas para llegar al hospital.</p>
      </div>
      <div class="col-md-6 px-0 text-center">
        <img class="img-logo"src="/img/logo.png" alt="Logo">
      </div>
  </div>
</div>
