<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
        <div class="card-header">
            <h3>Registrarse</h3>
        </div>
        <div class="card-body">
            <form class="row g-3" action="/users/signup" method="POST">
            
            <div class="col-md-12">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" value="{{nombre}}" required/>
            </div>
            <div class="col-md-12">
                <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control" name="apellidoPaterno" value="{{apellidoPaterno}}" required/>
            </div>
            <div class="col-md-12">
                <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control" name="apellidoMaterno" value="{{apellidoMaterno}}" required/>
            </div>

            <div class="col-md-12">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" class="form-control" name="correo" value="{{correo}}" required/>
            </div>

            <div class="col-md-12">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password"  required/>
            </div>

            <div class="col-md-12">
                <label for="confirm_password" class="form-label">Confirma tu contraseña</label>
                <input type="password" class="form-control" name="confirm_password" required/>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary">Registrarse</button>
        </div>
            </form>
        </div>
    </div>
</div>
</div>