<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
        <div class="card-header">
            <h3>Iniciar Sesion</h3>
        </div>
        <img src="/img/logo1c.png" alt="Logo HCG" class="logo rounded-circle mx-auto d-block m-4">
        <div class="card-body">
            <form class="row g-3"  action="/users/signin" method="POST">
            
            <div class="col-md-12">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" class="form-control" name="correo" required/>
            </div>

            <div class="col-md-12">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password" required/>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                 <button class="btn btn-primary">Entrar</button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>